@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

*{
    font-family: "Heebo",sans-serif;
    padding: 0;
    margin: 0;
}
header {
   color: #fff;
   background-color: #888; 
   text-align: center;
   padding: 1vw;

}

nav .buscador {
    margin: 1vw;
    border-radius: 10px;
    border: 2px solid black;
    width:175px;
}
nav .buscador input{
    border-radius: 10px;
    border: hidden;
    position: relative;
    text-indent: 5px;
    outline: none;
}

nav .buscador img{
    width: 15px;
    position: relative;
    margin: -3;
}

h1 {
    color: #000;
    text-align: center;
}

.articulos{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 10vw;
    gap: 15 px
}

article{
    position: relative;
    text-align: center;
}

.articulos img.articulo{
    width: 75%;
}

.articulos img.articulo:hover{
    width: 90%;
}

.articulos img.like-disabled{
    width: 20px;
    position: relative;
    left: 100;
    bottom: 78;
}

.articulos img.like-enabled{
    width: 20px;
    position: relative;
    left: 100;
    bottom: 78;
    display: none;
}


.articulos h3{
    margin: 1vw;
    flex-wrap: wrap;
}

footer{
    margin-top: 2vw;
    background-color: #888;
    color: #fff;
    padding: 1vw;
}


