@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

* {
    font-family: "Heebo", sans-serif;
    padding: 0;
    margin: 0;
}

header {
    color: #fff;
    background-color: #888;
    text-align: center;
    padding: 1vw;
    margin-top: 13px;

}

nav {
    display: flex;
    margin-top: 10px;
}

nav .hamburger-button {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    margin-top: 13px;
}

nav .buscador {
    display: inline-block;
    margin: 1vw;
    border-radius: 10px;
    border: 2px solid black;
    width: 175px;
}

nav .buscador input {
    border-radius: 10px;
    border: hidden;
    position: relative;
    text-indent: 5px;
    outline: none;
    margin: 0 3px;
}

.buscador .lupa-icon {
    width: 15px;
    position: relative;
    margin-top: 3px;
}

nav h1 {
    position: relative;
    display: inline-block;
    color: #000;
    margin-left: 18vw;
}

.articulos {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 12vw;
    gap: 15 px
}

article {
    position: relative;
    text-align: center;
}


.articulos img article {
    width: 50%;
}


.icon {
    font-size: 30px;
    position: relative;
    left: 100;
    bottom: 78;
}

.icon:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.articulos h3 {
    margin: 1vw;
    flex-wrap: wrap;
}

footer {
    margin-top: 2vw;
    background-color: #888;
    color: #fff;
    padding: 1vw;
}

.carousel {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-left: 10px;
}

.carousel img {
    width: 100%;
    position: relative;
    align-content: center;
}

.carousel-button-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.carousel-button {
    -webkit-text-stroke: 2px black;
    color: transparent;
    background-color: transparent;
    padding: 8px;
    margin: 0 5px;
    border: none;

}

#button-previous {
    position: absolute;
    left: 0%;
    bottom: 20%;
}

#button-next {
    text-size-adjust: 50%;
    position: absolute;
    right: 0%;
    bottom: 20%;
}


.menu-wrapper {
    position: absolute;
    z-index: 100;
    display: list-item;
    background-color: #888;
    height: 20vw;
    width: 15vw;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 2%;
}


.menu-wrapper .item-nav-wrapper {
    display: list-item;
    margin-left: 10%;
    list-style: none;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5px;
    color: #fff;
    margin-top: 2vw;
}

.menu-wrapper .item-nav-wrapper:hover {
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .menu-wrapper .item-nav-wrapper {
        font-size: 0.8em;
        margin-top: 0.8vw;
    }
}

.office {
    text-align: center;
    margin-top: 25px;
}

main h1 {
    text-align: center;
    margin-top: 25px;
}
